name: Mutation testing

on:
  push:
    branches: [ main ]

jobs:
  mutationtesting:
    if: contains(github.event.head_commit.message, 'Releasing version') != true && contains(github.event.head_commit.message, 'Prepare next version') != true
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v3.4.0
        with:
          java-version: 17
          distribution: 'adopt'
          cache: maven

      - name: Run Pitest
        run: mvn test-compile org.pitest:pitest-maven:mutationCoverage

      - name: Upload mutation testing score
        run: |
          mutation_report_content=$(<target/pit-reports/html2/report.js)
          echo "${mutation_report_content:60}" > target/pit-reports/html2/mutation-testing-report.json

          curl -X PUT \
            ${BASE_URL}/api/reports/${PROJECT}/${VERSION} \
            -H 'Content-Type: application/json' \
            -H 'Host: dashboard.stryker-mutator.io' \
            -H "X-Api-Key: ${API_KEY}" \
            -d @target/pit-reports/html2/mutation-testing-report.json
        env:
          BASE_URL: https://dashboard.stryker-mutator.io
          PROJECT: github.com/mthmulders/mcs
          VERSION: main
          API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
