name: Mutation testing

on:
  push:
    branches: [ main ]

jobs:
  mutationtesting:
    if: contains(github.event.head_commit.message, 'Releasing version') != true && contains(github.event.head_commit.message, 'Prepare next version') != true
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v3.6.0
        with:
          java-version: 17
          distribution: 'adopt'
          cache: maven

      - name: Run Pitest
        run: mvn test-compile org.pitest:pitest-maven:mutationCoverage
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
